body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

/* Hero Section */
.dream {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url('../images/house1.jpg') center/cover no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  color: white;
}

/* Property Cards */
.property-card img {
  height: 200px;
  object-fit: cover;
}

.property-details{
  margin: 20px auto;
  text-align: center;
  gap: 10px;
}

/* Floating Buttons */
.call-btn,
.whatsapp-btn {
  position: fixed;
  right: 15px;
  padding: 12px 15px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.call-btn {
  bottom: 80px;
  background: #0d6efd;
}

.whatsapp-btn {
  bottom: 20px;
  background: #25d366;
}


/* Footer Styling */

.footer {
  background: #0d6efd;
  color: white;
  padding-top: 50px;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  color: #e2e6ea;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #e2e6ea;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ffffff;
  padding-left: 5px;
}

/* Social Icons */
.social-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  transition: 0.3s;
}

.social-links a:hover {
  transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
  background: #0b5ed7;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
